body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1em 2em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.header-container img {
    height: 60px;
    /* Adjust the logo height */
    width: auto;
    margin-right: 20px;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
  padding: 2em;
}
.destination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.destination-text {
    flex: 1;
    margin-right: 1.5em;
}

.destination-text h3 {
    margin-bottom: 0.3em;
    color: #007BFF;
}

.btn-price {
    margin-top: 0.8em;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.btn-price:hover {
    background-color: #0056b3;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background: #eaeaea;
    margin-top: 2em;
}